[submodule "Peak/vendor/spdlog"]
	path = Peak/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Peak/vendor/GLFW"]
	path = Peak/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Peak/vendor/SDL2"]
	path = Peak/vendor/SDL2
	url = https://github.com/SpookyScaryDev/SDL2
